.plan-menu-container {
    .menu-item-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        cursor: pointer;
        user-select: none;
        color: #333;

        &:hover {
            background-color: #E2F6FE;
        }
    }

    .folder-selected {
        color: #1985F9;
    }
}
